body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1a31;
  margin: 0;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #8fb5cb;
  padding: 20px;
  width: 300px;
}

.calculator__title {
  text-align: center;
  margin: 0 0 20px 0;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px 0 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    0 2px 0 #000;
}

.calc__display {
  width: 100%;
  margin-bottom: 10px;
}

.calc__display-input {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.calc__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calc__numbs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.calc__ops {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.button {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 100px;
  background-color: #add8e694;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333;
  color: #fff;
  font-weight: bold;
}

.history__button {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 100px;
  background-color: #add8e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.history__button:hover {
  background-color: #9cc0d6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.history__button-clear {
  margin-left: 50px;
}

.button:hover {
  background-color: #9cc0d6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
